# Overview
# Create your friends database and practice DDL and DML commands in this assignment.

# You can name your database, table, data of your choice also.
# Prerequisites 



# You have a good understanding of DDL, DML and SELECT statements.
# Dataset


# CREATE database and give a name by your choice.


# create a table name friends with three columns,

# id that stores INTEGER

# name that stores TEXT

# birthday that stores DATE



# Questions

# add a record name john doe whose birthday 1996-08-30

# view the table using select

# Now add two of your friends you like.

# change the name of the first friend called 'john doe' to 'Luis Johnson'

# add a new column called email


# Update the email address for everyone in your table.

# Luis email is luis@gmail.com

# remove Luis from friends

# view complete table using select

In [ ]:
create database Task;


drop database if exists Task;
use  Task;

create table friends(
ID int primary key auto_increment,
Name varchar(50) NOT NULL,
birthday date);



INSERT INTO friends (ID, Name, birthday)
VALUES (1, 'John Doe', '1996-08-30');


select*from friends;




INSERT INTO friends (ID, Name, birthday)
VALUES (2, 'A', '1998-05-25');

INSERT INTO friends (ID, Name, birthday)
VALUES (3, 'B', '1999-12-10');

UPDATE friends
SET Name = 'Luis Johnson'
WHERE ID = 1;

ALTER TABLE friends
ADD COLUMN email varchar(50);

UPDATE friends
SET email = 'luis@gmail.com'
WHERE ID = 1;

UPDATE friends
SET email = 'a@gmail.com'
WHERE ID = 2;

UPDATE friends
SET email = 'b@gmail.com'
WHERE ID = 3;

DELETE FROM friends
WHERE name = 'Luis Johnson';